{% extends "base.html" %}

    <link rel="stylesheet" type="text/css" href="/static/css/forms.css" />
    {% block title%} CODIGO DE BARRAS {% endblock %}
    {% block title2 %} CARGAR CODIGO {% endblock %}

  

{% block content %}

<div id="content-main">
       <fieldset class="module aligned ">
           
       <form id='codigo-form' method='post' action='guardar_codigo'>    	{% csrf_token %} {{formulario.as_p}}


           </fieldset>
           
        <div class="submit-row">

          <input type="submit" name = "boton" value = "guardar" class = 'default' />


        </div>

           <script type="text/javascript">document.getElementById("id_numero").focus();</script>

        <script type="text/javascript">
        (function($) {
            var field;


        })(django.jQuery);
        </script>


        </div>
</form>

        <br class="clear" />

	
{% if info %}
        
       Codigo guardado 
        <ul>
            <li> Seccional: {{seccional}} </li><li> Boleta: {{boleta}} </li><li> Monto: {{monto}} </li>  
            
               cantidad: {{num}}  
               
               quincena: {{quincena}}
         </ul>   

{% endif %}

{% endblock%}


 
